:root {
  --color-text: #757575;
  --color-title: #212121;
  --color-accent: #2196f3;
  --color-border: #afb1b8;
  --color-dark-background: #2f303a;
  --color-light-background: #f5f4fa;
  --color-button-background: #eeeeee;
  --color-button-background-focus: #188ce8;
  --color-white: #fff;
  --collor-border: #ececec;
  --color-footer-icon-background: #ffffff1a;
  --color-light-white: rgba(255, 255, 255, 0.6);
  --font-size-text: 14px;
  --font-size-title: 36px;
}
* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Header */
.fixed {
  position: fixed;
  opacity: 0;
  overflow: hidden;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1600px;
  height: 80px;
  text-decoration: none;
  border-bottom: 1px solid var(--collor-border);
}
.nav a {
  color: var(--color-title);
  font-weight: 500;
}
.navigation-logo {
  text-decoration: none;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.logo-color {
  color: var(--color-accent);
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-left: 90px;
  font-size: var(--font-size-text);
}
.navigation-item {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.navigation-item a {
  color: var(--color-title);
}
.navigation-link {
  text-decoration: none;
  position: relative;
  /* padding:   29px 0 ; */
}

.navigation-link:hover,
.navigation-link:focus,
.navigation-link:active,
.navigation-item .active,
.navigation-contacts-mail:hover,
.navigation-contacts-mail:focus,
.navigation-contacts-tel:hover,
.navigation-contacts-tel:focus {
  color: var(--color-accent);
}
.active-link {
  width: 48px;
  height: 4px;
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
  border-radius: 2px;
  position: absolute;
  top: 75px;
  /* margin-bottom: auto 0; */
}
.portfolio-active-link {
  width: 74px;
  height: 4px;
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
  border-radius: 2px;
  position: absolute;
  top: 75px;
}
.navigation-contacts {
  margin-left: 300px;
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: var(--font-size-text);
  font-weight: 500;
  line-height: 1.1;
  list-style: none;
}
.navigation-contacts a {
  color: var(--color-text);
}
.navigation-contacts-mail,
.navigation-contacts-tel {
  text-decoration: none;
  margin-left: 10px;
}
/* Main */
/* Решения */
.main-solutions {
  width: 1600px;
  height: 600px;
  /* background-color: var(--color-dark-background); */
  background-image: url(/images/shapka.jpg);
}
.solutions-block {
  padding-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-solutions-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  color: var(--color-white);
}
.main-solutions-button {
  font-weight: 700;
  font-size: 16px;
  width: 200px;
  height: 50px;
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
  border-radius: 4px;
  margin-top: 30px;
  color: var(--color-white);
  cursor: pointer;
}
.main-solutions-button:hover,
.main-solutions-button:focus {
  background: var(--color-button-background-focus);
}
.main-solutions-button a {
  /* color: var(--color-white); */
  /* cursor: pointer; */
  /*  text-decoration: none; */
}
/* Наши преимущества */
.main-privilege {
  width: 1170px;
  height: auto;
  margin: 90px 0 0 215px;
  text-align: left;
}
.main-privilege-title {
  visibility: hidden;
}
.privilege-list {
  display: flex;
  gap: 30px;
}
.privilege-item {
  list-style: none;
}
.privilege-item-img {
  width: 270px;
  height: 120px;
  background-color: var(--color-light-background);
  display: flex;
  justify-content: center;
  align-items: center;
}
.privilege-item-title {
  font-size: var(--font-size-text);
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-title);
  margin-top: 30px;
}
.privilege-item-text {
  margin-top: 10px;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-text);
}
/* Чем мы занимаемся */
.main-lessons {
  width: 1170px;
  height: 386px;
  margin: 90px 0 0 215px;
}
.lessons-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  color: var(--color-title);
}
.lessons-list {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
.lessons-item {
  position: relative;
  display: flex;
  justify-content: center;
}
.lessons-ladel {
  position: absolute;
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
}
/* Наша команда */
.main-team {
  width: 1600px;
  height: 708px;
  margin-top: 90px;
  background-color: var(--color-light-background);
}
.team-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  color: var(--color-title);
  padding-top: 94px;
}
.team-list {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 50px 0 0 215px;
}
.team-card {
  width: 270px;
  height: 428px;
  background-color: var(--color-light-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list-title {
  color: var(--color-title);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  margin-top: 30px;
}
.team-list-text {
  color: var(--color-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  margin-top: 10px;
}
.main-social {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 16px;
  list-style: none;
}
.main-social img {
  padding: 12px;
}
.main-social img:hover {
  border: 1px solid var(--color-accent);
  border-radius: 50%;
  background-color: var(--color-accent);
}
/* Постоянные клиенты */
.main-client {
  width: 1170px;
  height: 184px;
  margin-top: 100px;
  margin-left: 215px;
}
.client-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  color: var(--color-title);
}
.client-width {
  width: 170px;
  height: 92px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-width:hover {
  border: 1px solid var(--color-accent);
}
.client-list {
  display: flex;
  gap: 30px;
  list-style: none;
  margin-top: 50px;
}
/* Footer */
.footer {
  width: 1600px;
  height: 252px;
  margin-top: 88px;
  background-color: var(--color-dark-background);
  color: var(--color-white);
  display: flex;
  gap: 70px;
}
main {
  flex: 1 1 auto;
}
.footer a {
  color: var(--color-white);
  text-decoration: none;
}

.footer-content {
  padding: 60px 0 0 215px;
}
.footer-logo {
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.footer-addres {
  text-decoration: dashed;
}
.footer-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 20px;
  font-style: normal;
  list-style: none;
}
.footer-list-email a,
.footer-list-tel a {
  color: var(--color-light-white);
}
.footer-list a:hover {
  color: var(--color-accent);
}
.footer-social {
  padding-top: 60px;
  font-weight: 700;
  font-size: var(--color-text);
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-social-list {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid var(--color-footer-icon-background);
  background-color: var(--color-footer-icon-background);
}
.social-item:hover {
  border: 1px solid var(--color-accent);
  background-color: var(--color-accent);
}
.footer-email {
  padding: 60px 0 0 23px;
  font-weight: 700;
  font-size: var(--color-text);
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.email {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 295px 15px 16px;
  margin-top: 20px;
}
.email-button {
  background-color: var(--color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 15px 28px 15px 29px;
  margin-left: 15px;
  cursor: pointer;
}

/* Main portfolio */
.contant {
  width: 1170px;
  height: 1360px;
  margin-left: 215px;
}
.contant-portfolio {
  visibility: hidden;
}
.nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 10px;
  margin-top: 100px;
}
.nav-item button {
  display: inline-block;
  cursor: pointer;
  padding: 6px 22px;
  line-height: 26px;
  font-weight: 500;
  color: var(--color-title);
  background-color: var(--color-button-background);
  border: 1px solid var(--color-button-background);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.nav-item button:hover,
.nav-item button:focus {
  color: var(--color-white);
  background-color: var(--color-accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.contant-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  margin-top: 26px;
}
.contant-link {
  text-decoration: none;
}
.contant-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--color-title);
}
.contant-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: var(--color-text);
}
/* Popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup-content {
  opacity: 1;
  transform: translate(0px, 0px);
}
.popup-area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup-body {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 528px;
  height: 581px;
}
.popup-content {
  position: fixed;
  top: 221px;
  left: 536px;
  background-color: var(--color-white);
  max-width: 528px;
  padding: 0 30px;
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);
}
.popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  text-decoration: none;
  color: var(--color-title);
}
.popup-title {
  color: var(--color-title);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  max-width: 528px;
  text-align: center;
  margin-top: 40px;
}
.popup-form {
  margin-top: 12px;
}
.input-block {
  display: flex;
  flex-direction: column;
}
.label-form-name,
.label-form-tel,
.label-form-mail,
.label-koment {
  color: var(--color-text);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
}
.form-name,
.form-tel,
.form-mail,
.koment-text {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin: 4px 0 10px 0;
}
.koment-block {
  display: flex;
  flex-direction: column;
}
.koment-text {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  padding: 12px 1 12px 16px;
  min-height: 120px;
}
.chek-block {
  display: flex;
  gap: 8px;
  margin-top: 20px;
  color: var(--color-text);
}
.chek-block a {
  color: var(--color-accent);
}
.button-block {
  display: flex;
  justify-content: center;
}
.form-button {
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
  border-radius: 4px;
  color: var(--color-white);
  cursor: pointer;
  margin: 30px 0 40px 0;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
}

.form-button:hover,
.form-button:focus {
  background: var(--color-button-background-focus);
}
